fastapi==0.128.0
PyMuPDF==1.26.7
langchain_chroma==1.1.0
langchain_community==0.4.1
langchain_core==1.2.7
langchain_google_genai==4.2.0
langchain_huggingface==1.2.0
langchain_openai==1.1.7
langchain_text_splitters==1.1.0
llama_parse==0.6.91
pydantic==2.12.5
python-dotenv==1.2.1
python-multipart==0.0.20
sentence-transformers>=2.2.2
streamlit==1.52.2
